body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#results-container {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 8px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #888;
}

.close-button:hover {
  color: #333;
}

.result-item {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.result-item:hover {
  background-color: #f0f0f0;
}

#feedbackButton {
  position: fixed;
  bottom: 40px;
  left: 20px;
  padding: 10px;
  background-color: #2196F3; /* Material Blue */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
/* Media query for screens with a maximum width of 600px (typical for phones) */
@media (max-width: 600px) {
  #feedbackButton {
      padding: 8px 16px; /* Reduce padding for smaller screens */
      font-size: 14px; /* Reduce font size for smaller screens */
  }
}

#feedbackButton:hover {
  background-color: #1565C0; /* Darker shade on hover */
}

/* Original styles for the popup */
.popup-content {
  /* Your existing styles for the popup */
  max-width: 300px; /* Adjust the maximum width as needed */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media query for screens with a maximum width of 600px (typical for phones) */
@media (max-width: 600px) {
  .popup-content {
      max-width: 100%; /* Make the popup fill the entire width on small screens */
      padding: 10px; /* Reduce padding for smaller screens */
      border-radius: 0; /* Remove border-radius for a cleaner look */
      box-shadow: none; /* Remove box shadow on small screens */
  }
}
